* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: green;
}

#header {
    color: greenyellow;
    font-family: BlexMono Nerd Font;
    font-size: 40px;
    font-weight: bold;
}

.title {
    font-family: BlexMono Nerd Font;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline greenyellow;
}
